#arriba{
  margin-top: -10%;
}
#meuMenu {
    background:#CCC;
    width:100%;
    padding:0px;
    padding-left: 1cm;
    margin-top: 0px;
}


#publicidad{
	background:"#4f3400";
	width:100%;
	height: 10px;
}

.cepdech{
    background:#CCC;
    width:100%;
    padding:4px;
    margin-top: 0px;
}

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
     -moz-transition: 0.6s ease-in-out top;
      -ms-transition: 0.6s ease-in-out top;
       -o-transition: 0.6s ease-in-out top;
          transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 400px;
}

.carousel.vertical .prev {
  top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
    left: 0;
}